button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #6D9B7C;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  border-bottom: 4px solid #3B4A3F;
  font-weight: 700;
  color: white;
  line-height: 26px; 
}


button:hover {
  box-shadow: 4px 4px 0 #3B4A3F;
  transform: translate(-2px,-2px);
}

button:active {
  box-shadow: 0px 0px 0 #3B4A3F;
  transform: translate(2px,2px);
}

#esp-web-tool-widget {
    text-align: center;
    margin: 20px;
  }
